{% extends 'header1.html' %}
{% block content %}
{% load static %}

<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Valor, Pride, & Integrity</span>
					<h1 class="mb-3 mt-3">Your</h1>
					<h1 class="mb-3 mt-3">Trusted</h1>
					<h1 class="mb-3 mt-3">Protectors</h1>
					
					<p class="mb-4 pr-5">United we stand, Divided we fall.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-law-document" style = "font-size: 400%;"></i>
						</div>
						<h4 class="mb-3">Add FIR</h4>
						<p class="mb-4">Currently you can only access information which is only accessible to visitors. Please login to retrieve the data for specific desgination..</p>
						<a href="{% url 'add-FIR' %}" class="btn btn-main btn-round-full">Proceed</a>
					</div> 
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-eye" style = "font-size: 400%;"></i>
						</div>
						<h4 class="mb-3">View FIR Status</h4>
						<p class="mb-4">Currently you can only access information which is only accessible to visitors. Please Proceed to retrieve the data for specific desgination..</p>
						<a href="{% url 'view-FIR' %}" class="btn btn-main btn-round-full">Proceed</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-warning-alt" style = "font-size: 400%;"></i>
						</div>
						<h4 class="mb-3">Add Complaint</h4>
						<p class="mb-4">Currently you can only access information which is only accessible to visitors. Please Proceed to retrieve the data for specific desgination..</p>
						<a href="{% url 'add-com' %}" class="btn btn-main btn-round-full">Proceed</a>
					</div>
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-eye-alt" style = "font-size: 400%;"></i>
						</div>
						<h4 class="mb-3">View Complaint Status</h4>
						<p class="mb-4">Currently you can only access information which is only accessible to visitors. Please Proceed to retrieve the data for specific desgination..</p>
						<a href="{% url 'view-com' %}" class="btn btn-main btn-round-full">Proceed</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<br>
<br>
<br>
<br>

<section class="section cta-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="cta-content">
					<div class="divider mb-4"></div>
					<h2 class="mb-5 text-lg" style="color:whitesmoke;">We are always willing to, <span class="mb-5 text-lg" style="color:whitesmoke;"> provide you the service </span></h2>
					<a href="{% url 'search-station' %}" class="btn btn-main-2 btn-round-full">Search Police Station<i class="icofont-simple-right  ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="{% static 'images/about/badge (2).jpg' %}" style="width : 400px; height : 300px " class="img-fluid">
					<img src="{% static 'images/about/gun(2).jpg' %}" style="width : 400px; height : 300px " class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="{% static 'images/about/law1.jpg' %}" style="width : 400px; height : 500px;" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Help us to improve the system</h2>
					<p class="mt-4 mb-5">People's participation will strengthen the law enforcement department, we request you to provide us feedback.</p>
					<a href="{% url 'feedback' %}" class="btn btn-main btn-round-full">Give Feedback</a>
				</div>
			</div>
		</div>
	</div>
</section>
<br><br><br>
<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 testimonial-wrap-2">
				<div class="testimonial-block style-2  gray-bg">
					<i class="icofont-quote-right"></i>

					<div class="client-info ">
						<h4>Barbara Boxer</h4>
						<p>
							“Law enforcement officers are never ‘off duty.’ They are dedicated public servants who are sworn to protect public safety at any time and place that the peace is threatened. They need all the help that they can get.”
						</p>
					</div>
				</div>

				<div class="testimonial-block style-2  gray-bg">

					<div class="client-info">
						<h4>Earl Warren</h4>
						<p>
							“It is the spirit and not the form of law that keeps justice alive.”
						</p>
					</div>
					
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">

					<div class="client-info">
						<h4>Robert Peel</h4>
						<p>
							"The police are the public and the public are the police; the police being only members of the public who are paid to give full time attention to duties which are incumbent on every citizen in the interests of community welfare and existence."
						</p>
					</div>
					
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">

					<div class="client-info">
						<h4>George S. Patton</h4>
						<p class="mt-4">
							“Real heroes die serving the law, not resisting it.”
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">

					<div class="client-info">
						<h4>Andrew Laurinec</h4>
						<p>
							“What most people do not understand is that you could be the biggest thug that ever existed but if you needed help, I would be there.  I will show up when your friends won’t – or if they run away.  I work with brace men and women who do the same.  We go.  We help.  It is what we do.”	
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>
				<div class="testimonial-block style-2  gray-bg">

					<div class="client-info">
						<h4>Ronald Reaganc</h4>
						<p>
							“Evil is powerless if the good are unafraid.”		
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}