{% extends 'admin-header.html' %}
{% block content %}
{% load static %}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="block text-center">
            <span class="text-white">News details</span>
            <h1 class="text-capitalize mb-5 text-lg">Emergency Details</h1>
    
            <!-- <ul class="list-inline breadcumb-nav">
                <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                <li class="list-inline-item"><span class="text-white">/</span></li>
                <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
            </ul> -->
            </div>
        </div>
        </div>
    </div>
    </section>
    
    
    
    <section class="section blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="single-blog-item">
                <img src="{% static 'images/blog/blog-1.jpg' %}" alt="" class="img-fluid">
    
                <div class="blog-item-content mt-5">
                    
    
                    <h2 class="mb-4 text-md">The City political and civil safety in DANGER!!!!</h2>
    
                    <p class="lead mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>
    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus natus, consectetur? Illum libero vel nihil nisi quae, voluptatem, sapiente necessitatibus distinctio voluptates, iusto qui. Laboriosam autem, nam voluptate in beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae iure officia nihil nemo, repudiandae itaque similique praesentium non aut nesciunt facere nulla, sequi sunt nam temporibus atque earum, ratione, labore.</p>
    
                    <blockquote class="quote">
                        Police Department on high alert for the smooth conduct of the recent Election
                    </blockquote>
    
                    
                    <p class="lead mb-4 font-weight-normal text-black">Growing tension and competiton among the candidate, caused a great uproar among the brain-washed citizen. Hence, Police shut downed the campaigning process of the Political parties</p>
    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, rerum beatae repellat tenetur incidunt quisquam libero dolores laudantium. Nesciunt quis itaque quidem, voluptatem autem eos animi laborum iusto expedita sapiente.</p>
    
                </div>
            </div>
        </div>
        
                
                
    </section>

{% endblock %}