{% extends 'admin-header.html' %}
{% block content %}
{% load static %}
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Valor, Pride, & Integrity</span>
					<h1 class="mb-3 mt-3">Your</h1>
					<h1 class="mb-3 mt-3">Trusted</h1>
					<h1 class="mb-3 mt-3">Protectors</h1>
					
					<p class="mb-4 pr-5">United we stand, Divided we fall.</p>
				</div>
			</div> 
		</div>
	</div>
</section>
<section class="section blog-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			

			<div class="blog-item-content">
				 

				<h2 class="mt-3 mb-3">What to do if the Police Station refuses to register the FIR ?</h2>

				<p class="mb-4">If the Police Station refuses to register FIR, substance of the information in writing can be sent by post to the SSP Chandigarh. He, if satisfied that the information discloses the commission of a cognizable offence, shall get the FIR registered and investigated.</p>

			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			

			<div class="blog-item-content">
				 

				<h2 class="mt-3 mb-3">Can Police call someone for investigation even if granted anticipatory bail by the court ?</h2>
				
				<p class="mb-4">Yes, certainly. The court only forbids the arrest but does not prevent police from calling the accused for investigation. Intact, invariably it is one of the conditions of the anticipatory bail    that the accused shall make himself available for investigation as and when required by the investigating officer. Refusal to do so may entitle the investigating officer to move the court      for cancellation of anticipatory bail. In case the investigating officer finds that a criminal case     is made out against an accused granted anticipatory bail by the court, he will not arrest him     but will release him on bail, even if the offence is Non-Bailable.</p>

			</div>
		</div>
	</div>


	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			

			<div class="blog-item-content">
				 
				<h2 class="mt-3 mb-3">Is it an offence to register/lodge false FIR ?</h2>

				<p class="mb-4">Yes. Lodging of a false FIR/complaint is punishable under IPC. Such an informant /    complainant can be proceeded against under section 182 IPC or under section 211 IPC          by the police. Private person against whom false FIR/complaint has been lodged can also file complaint in the court for the offence of defamation.</p>

			</div>
		</div>
	</div>
</div>

</section>


{% endblock %}