{% extends 'ins-header.html' %}
{% block content %}
{% load static %}

<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Valor, Pride, & Integrity</span>
					<h1 class="mb-3 mt-3">Your</h1>
					<h1 class="mb-3 mt-3">Trusted</h1>
					<h1 class="mb-3 mt-3">Protectors</h1>
					
					<p class="mb-4 pr-5">United we stand, Divided we fall.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<span>24 Hours Service</span>
						<h4 class="mb-3">Online Appoinment</h4>
						<p class="mb-4">Get ALl time support for emergency.We have introduced the principle of family medicine.</p>
						<a href="appoinment.html" class="btn btn-main btn-round-full">Make a appoinment</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<span>Timing schedule</span>
						<h4 class="mb-3">Working Hours</h4>
						<ul class="w-hours list-unstyled">
		                    <li class="d-flex justify-content-between">Sun - Wed : <span>8:00 - 17:00</span></li>
		                    <li class="d-flex justify-content-between">Thu - Fri : <span>9:00 - 17:00</span></li>
		                    <li class="d-flex justify-content-between">Sat - sun : <span>10:00 - 17:00</span></li>
		                </ul>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
						</div>
						<span>Emegency Cases</span>
						<h4 class="mb-3">1-800-700-6200</h4>
						<p>Get ALl time support for emergency.We have introduced the principle of family medicine.Get Conneted with us for any urgency .</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<br>
<br>
<br>
<br>

<section class="section cta-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="cta-content">
					<div class="divider mb-4"></div>
					<h2 class="mb-5 text-lg" style="color:whitesmoke;">Justice Delayed is,<br> <span style="color:whitesmoke;"> Justice Denied </span></h2>
					
				</div>
			</div>
		</div>
	</div>
</section>

<br><br>

<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 testimonial-wrap-2">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block mb-5 mb-lg-0">
						<img src="{% static 'images/service/service-8.jpg' %}" alt="" class="img-fluid">
						<div class="content">
							<h4 class="mt-4 mb-2 title-color">View FIR</h4>
							<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
							<a class="btn btn-main btn-round-full" href="{% url 'ins-view-FIR' %}">Proceed</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block mb-5 mb-lg-0">
						<img src="{% static 'images/service/service-8.jpg' %}" alt="" class="img-fluid">
						<div class="content">
							<h4 class="mt-4 mb-2 title-color">View Complaint</h4>
							<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
							<a class="btn btn-main btn-round-full" href="{% url 'ins-view-com' %}">Proceed</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block mb-5 mb-lg-0">
						<img src="{% static 'images/service/service-8.jpg' %}" alt="" class="img-fluid">
						<div class="content">
							<h4 class="mt-4 mb-2 title-color">Manage Complaint</h4>
							<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
							<a class="btn btn-main btn-round-full" href="{% url 'ins-manage-com' %}">Proceed</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>






{% endblock %}